html {
    width: 100%;
    height: auto;
}

body {
    color: white;
    background-color: black; 
    margin-left: 5%;
    font-family: "Gill Sans", sans-serif;
}

.section {
    width: 75%;
}

.side-bar {
    width: 20%;
    padding-top: 10%; 
    position: sticky;
    position: -webkit-sticky;
    top: 10;
    right: 20px;
}

.main_agence, .main_film, .main_motion, .main_photos {
    display: flex;
    justify-content: space-between;
}

.main_agence {
    margin-top: 3%;
}

.red {
    color: red;
    font-size: large;
}

.small {
    font-size: small; 
}

#title {
    text-align: right;
    padding-right: 14%;
    margin-bottom: 5%;
    font-size: 35px;
}

ul {
    list-style: none;
}

li.circle::before {
    content: "•";
    color: red;
    margin-right: 1%;
}

.giphy {
    width: 75%;
    height: 100%;
}

.row {
    text-align: center;
    margin-right: 7%;
}

.col {
    margin-left: 3%;
}

.navba {
    width: 100%;
    top: 2%;
}

a {
    text-decoration: none;
}

.topnav-right {
    float: right;
    margin-top: 19px;
    padding: 0;
    margin-right: 35px;
}

.topnav-right a{
    color: black;
    size: 20px;
   	margin-right: -20px;
}

.topnav-right a:nth-child(2) {
    padding: 0;
}

rect {
    fill: red;
}

.start {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 12%; 
}

.logo {
    margin-left: 22%;
}

.icon_play {
    color: gray ;
    font-size: 30px;
}

h1 {
    text-align: center;
}

.logo img {
    width: 200px;
    height: auto;
    padding-top: 15%;
}

#presente {
    text-align: center;
}

.presentation {
    margin-top: 20%;
    margin-bottom: 15%;
}

#passer {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 4%;
}

.formulaire {
    background-color: whitesmoke;
    color: black;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3%;
}

.info {
    width: 40%;
    margin-left: 3%; 
    margin-top: 6%;
    padding-top: 4%;
}

.lien {
    display: flex;
    flex-direction: row;
}

.lien a {
    margin-left: 8%;
    color: black;
}

.lien i {
    width: 30px;
}

.petit_logo {
    display: flex;
    margin-top: 5%;
}

.petit_logo img {
    width: 13%;
    height: 30%;
}

.petit_logo p {
    font-size: 17px;
    margin-left: 1%;
}

.tel {
    display: flex;
    align-items: baseline;
    margin-left: 5%;
}

.tel p {
    margin-left: 6%;
    font-size: 17px;
}

.mail {
    display: flex;
    align-items: baseline;
    margin-left: 5%;
}

.mail a {
	margin-left: 6%; 
    font-size: 17px;
    color: black;
}

.contact {
    margin-top: 2%;
    margin-right: 2%; 
    align-items: center;
}

.form {
    margin-top: 4%;
}

.premier, .second, .troisieme {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.societe, .fonction, .nom, .prenom, .email, .telephone, .dernier {
    display: flex;
    flex-direction: column;
}

.fonction, .prenom, .telephone {
    margin-left: 2%; 
}

input {
    width: 260px;
    margin-bottom: 4%;
}

label {
    font-size: 11px;
    margin-bottom: 0%;
}

textarea {
    margin-bottom: 4%;
}

.contact h4 {
    text-align: center;
    font-size: 22px;
}

.compteur {
    color: white;
    position: relative;
    margin-top: 4%;
}

.compteur img {
    width: 100%;
    height: 470px;
    opacity: 0.7;
}

.align-compteur1, .align-compteur2, .align-compteur3, .align-compteur4, .align-compteur5 {
    position: absolute;
    top: 40%;
}

.align-compteur1 {
    left: 10%;
}

.align-compteur2 {
    left: 28%;
}

.align-compteur3 {
    left: 48%;
}

.align-compteur4 {
    left: 64%;
}

.align-compteur5 {
    left: 84%;
}

.align-compteur1 p, .align-compteur2 p, .align-compteur3 p, .align-compteur4 p, .align-compteur5 p{
    display: flex;
    justify-content: space-around; 
    margin-bottom: 5%;
    font-size: 50px;
}

.align-compteur1 i, .align-compteur2 i, .align-compteur3 i, .align-compteur4 i, .align-compteur5 i{
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
    margin-top: 7%;
    size: 10px;
}

#subtitle {
    font-size: 2%;
    color: rgb(235, 227, 227);
    margin-bottom: 1%;
    font-size: 15px;
}

.navba {
    overflow: hidden;
    background-color: white;
    width: 100%;
    margin-top: 2%;
    padding-top: 2px;
}
  
.navba a {
    font-size: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    padding: 7px 10px;
}

.navba a:nth-child(2) {
    margin-left: 35px;
    margin-right: 10px;
}

.navba a:nth-child(3), .navba a:nth-child(4) {
    margin-left: 10px;
    margin-right: 10px;
    
}
  
.navba a:hover, a:active {
    border: 1px solid black;
    border-radius: 50%;
}

.topnav-right a:hover, .navba a:first-of-type {
    border: none;
}

.topnav-right a:first-of-type {
    padding: 0;
}

.photo_agence img {
    align-items: center ;
    width: 18%;
    height: auto;
}

.photo_agence {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 15%;
}

#myBtnContainer {
    display: flex;
    justify-content: center ;
    margin-top: 3%;
}

.btn {
    color: white ;
    text-align: center ;
    margin-left: 4%;
}

#real {
    margin-top: 4%;
}

.photo img, .photo video{
    float: left;
    height: 240px;
    margin-left: 1%;
    margin-bottom: 1%;
}

.photo {
    display: none;
    
}

.texte {
    display: none;
}

.show{
    display: block;
}

.btn.active {
    color: red;
}

.file {
    float: left;
    margin-bottom: 1%;
}

#materiel {
    color: red;
    text-align: center;
    font-size: 22px;
    margin-bottom: 0%;
}

#title_sidebar {
    font-size: 16px;
    margin-bottom: 1%;
}

.description {
    margin-top: 0px;
    color: grey;
    margin-left: 9%;
    font-size: 14px;
    margin-bottom: 0px;
}

.section_film, .section_motion, .section_photos {
    width: 78%;
    font-size: 20px;
}

.film, .motion, .photos {
    margin-top: 6%;
}

.container-fluid {
    margin-bottom: 15%;
    margin-top: 10%;
    background-color: white;
    color: black;
}

#row_red {
    color: red;
}

.text {
    float: left;
    width: 350px;
    height: 240px;
}

.film {
    margin-right: 12px;
}

.motion {
    margin-right: 12px;
}

  
  img {
    cursor: pointer;
    margin: 1em;
    border-radius: 0.25em;
  }
  
  img:hover {
    opacity: .7;
    transition: opacity .3s ease-out;
  }
  
  .modal img:hover {
    opacity: 1;
  }
  
  .desc, #caption {
    text-align: center;
    font-family: sans-serif;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 1em;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.8); /* Black w/ opacity */
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes zoom {
    from {
      transform: scale(0.1);
    }
    to {
      transform: scale(1);
    }
  }
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  .contenu {
      width: 98%;
  }