body {
    color: white;
    background-color: black; 
    margin-left: 5%;
}

header {
    margin-top: 2%;
}

.section {
    width: 75%;
}

.side-bar {
    width: 20%;
    padding-top: 10%; 
}

.main_agence {
    display: flex;
    justify-content: space-between;
}

.red {
    color: red;
    font-size: large;
}

.small {
    font-size: small; 
}

#title {
    text-align: right;
    padding-right: 14%;
    margin-bottom: 5%;
    font-size: 35px;
}

ul {
    list-style: none;
}

li.circle::before {
    content: "•";
    color: red;
    margin-right: 1%;
}

.giphy {
    width: 75%;
    height: 100%;
}

.row {
    text-align: center;
    margin-right: 7%;
}

.col {
    margin-left: 3%;
}

.navbar {
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: baseline;
}


/*    content: "◆";*/
    
.topnav {
    overflow: hidden;
    
}

.topnav a {
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

.topnav a.active {
    border: 1px solid gray;
    border-radius: 12px; 
    padding: 2px 2px 2px 2px;
}

.topnav-right {
    margin-right: 3%;
    width: 10%;
}

.topnav-right a{
    color: black;
    margin-left: 8%;
}

rect {
    fill: red;
}