.navba {
    overflow: hidden;
    background-color: white;
  }
  
  .navba a {
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdow {
    display: inline-block;
    overflow: hidden;
  }
  
  .dropdow .dropbt {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navba a:hover, .dropdow:hover .dropbt {
    border: 1px solid black;
    border-radius: 5%;
  }
  
  .dropdown-conten {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-conten a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-conten a:hover {
    background-color: #ddd;
  }
  
  .dropdow:hover .dropdown-conten {
    display: block;
}